.title {
  font-size: 1.4em;
}

.content {
  padding: 0 20px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 14px;
}

.col {
  margin-bottom: 14px;
  align-content: flex-start;
}

.col h1 {
  font-size: 1em;
  font-weight: 300;
}
