<h2>Usage</h2>
<p>Use a <code>codeblock</code> element to highlight the code within.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="javascript">
        console.log("Hello');
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="javascript">
      console.log("Hello');
    </codeblock>
  </div>
</example>

<h3>Language</h3>
<p>Use the <code>language</code> property to set the highlighting language. Use any of the 100+ <a href="http://prismjs.com/#languages-list">supported languages</a>.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="java">
        System.out.println("java");
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="java">
      System.out.println("java");
    </codeblock>
  </div>
</example>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="python">
        print "python"
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="python">
      print "python"
    </codeblock>
  </div>
</example>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="go">
        fmt.Println("go")
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="go">
      fmt.Println("go")
    </codeblock>
  </div>
</example>

<h3>Whitespace</h3>
<p>Whitespace is normalized, just use consistent indentation inside a <code>codeblock</code>.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="ruby">
        p "Hello"
        p "Goodbye"
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="ruby">
      p "Hello"
      p "Goodbye"
    </codeblock>
  </div>
</example>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="ruby">
              p "Hello"
              p "Goodbye"
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="ruby">
              p "Hello"
              p "Goodbye"
    </codeblock>
  </div>
</example>

<h3>Line numbers</h3>
<p>Line numbers are on by default, bind the value <code>false</code> to the property <code>lineNumbers</code> to remove them.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock [lineNumbers]="false">
        No Line numbers
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock [lineNumbers]="false">
      No line numbers
    </codeblock>
  </div>
</example>

<h3>Themes</h3>
<p>Use the <code>theme</code> property to stylize your <code>codeblocks</code>.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock theme="solarizedlight">
        if (done) {
          console.log("Finished");
        }
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="javascript" theme="solarizedlight">
      if (done) {
        console.log("Finished");
      }
    </codeblock>
  </div>
</example>
<div class="select-theme">
  Preview a Theme:
  <select name="select" [(ngModel)]="selectedTheme">
    <option *ngFor="#theme of themes" value="{{theme}}">{{theme}}</option>
  </select>
</div>
<codeblock
  [theme]="selectedTheme"
  src="app/example/example.component.ts"
  class="solo"></codeblock>

<h3>HTML</h3>
<p>Use the <code>markup</code> language for HTML.</p>
<p>If you use standard HTML tags, and carefully close each one, you can write it as normal inside a <code>codeblock</code>.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="markup">
        &lt;ul class="favorites">
          &lt;li>These are&lt;/li>
          &lt;li>a few of&lt;/li>
          &lt;li>my favorite&lt;/li>
          &lt;li>things.&lt;/li>
        &lt;/ul>
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="markup">
      <ul class="favorites">
        <li>These are</li>
        <li>a few of</li>
        <li>my favorite</li>
        <li>things.</li>
      </ul>
    </codeblock>
  </div>
</example>
