<h2>Usage</h2>
<p>Use a <code>codeblock</code> element to highlight the code within.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="javascript">
        console.log("Hello');
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="javascript">
      console.log("Hello');
    </codeblock>
  </div>
</example>

<h3>Language</h3>
<p>Use the <code>language</code> property to set the highlighting language. Use any of the 100+ <a href="http://prismjs.com/#languages-list">supported languages</a>.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="java">
        System.out.println("java");
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="java">
      System.out.println("java");
    </codeblock>
  </div>
</example>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="python">
        print "python"
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="python">
      print "python"
    </codeblock>
  </div>
</example>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="go">
        fmt.Println("go")
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="go">
      fmt.Println("go")
    </codeblock>
  </div>
</example>

<h3>Whitespace</h3>
<p>Whitespace is normalized, just use consistent indentation inside a <code>codeblock</code>.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="ruby">
        p "Hello"
        p "Goodbye"
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="ruby">
      p "Hello"
      p "Goodbye"
    </codeblock>
  </div>
</example>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock language="ruby">
              p "Hello"
              p "Goodbye"
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock language="ruby">
              p "Hello"
              p "Goodbye"
    </codeblock>
  </div>
</example>

<h3>Line numbers</h3>
<p>Line numbers are on by default, bind the value <code>false</code> to the property <code>lineNumbers</code> to remove them.</p>
<example>
  <div code>
    <codeblock language="markup" theme="okaidia">
      &lt;codeblock [lineNumbers]="false">
        No Line numbers
      &lt;/codeblock>
    </codeblock>
  </div>
  <div highlighted>
    <codeblock [lineNumbers]="false">
      No line numbers
    </codeblock>
  </div>
</example>
