h1 {
  margin-top: 0;
}

header {
  background: #eee;
  border-bottom: 1px solid #bbb;
}

.main {
  min-height: 400px;
}

footer {
  background: #eee;
  border-top: 1px solid #bbb;
  min-height: 56px;
}

.container {
  max-width: 50em;
  margin: 0 auto;
  padding: 20px;
}
