body {
  background: #eee;
  overflow-x: hidden;
}

a {
  color: #237691;
}

a:visited {
  color: #9EAFB5;
}

h1, h2, h3, h4, h5, p {
  margin-top: 0;
}

header {
  background: #eee;
  border-bottom: 1px solid #bbb;
}

.main {
  min-height: 400px;
  background: white;
}

footer {
  background: #eee;
  border-top: 1px solid #bbb;
  min-height: 56px;
}



.container {
  max-width: 50em;
  margin: 0 auto;
  padding: 20px 10px;
  position: relative;
}

.codeblock {
  max-width: 90vw;
}

.solo .codeblock {
  padding: 0 20px;
  margin: 0 auto;
}

/*
// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: 7px;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 2px;
//     background-color: rgba(0,0,0,.5);
//     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
// }
*/

.subtitle {
  margin-left: 1.0rem;
  font-weight: 400;
}

.github {
  display: inline-block;
  background: #237691;
  color: white;
  text-decoration: none;
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 0px;
  border-radius: 8px;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.github:visited {
  color: white;
}

.github:hover {
  background: #1E95BD;
}

.github i {
  float: left;
  margin-right: 10px;
  font-size: 30px;
  position: relative;
  top: -4px;
}

/*******************
  Spinner
*******************/

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #237691;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
